body{
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    background-color: black;
    color: white;
}

.topHeader{
    margin-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 0.5%;
}

.headers{
    margin-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 0.5%;
    border-bottom: 2px solid #fff;
}

#startWindow{
    margin-top: 8%;
}

#startWindow div{
    margin-bottom: 0.5%;
}

#endWindow{
    margin-top: 8%;
}

#endWindow div{
    margin-bottom: 0.5%;
}

.investmentHeader{
    margin-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 0.5%;
}

.a{
    border-color: rgb(0, 200, 5);
}

#Change{
    margin-bottom: 2%;
}

.box{
    background-color: rgb(30, 33, 36);
}

#selectStock{
    color: rgb(0, 200, 5);
}

#stockName{
    margin-top: 3%;
}

.spaceOut{
    margin-bottom: 1.5%;
}

.modal-background {
position: fixed;
top: 50%;
left: 50%;
width: 50%;
transform: translate(-50%, -50%);
height: auto;
justify-content: center;
align-items: center;
}

.modal-content {
background-color: rgba(30, 33, 36, 1);
border-radius: 8px;
}

.modal-content div{
margin-top: 2%;
}

#modalRange {
width: 100%;
}

#close{
background-color: rgba(30, 33, 36, 1);
border-radius: 8px;
}

#execute{
border-color: rgb(0, 200, 5);
margin-bottom: 2%;
}

.border-right{
border-right: 2px solid #fff;
}