body{
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    background-color: black;
    color: white;
}

.headers{
    margin-top: 4%;
}

#Change{
    margin-bottom: 2%;
}

.box{
    background-color: rgb(30, 33, 36);
}

#stockName{
    margin-top: 3%;
}

.line{
    height: 0.01%;
    background-color: white;
    width: 83.33%;
    margin-left: 0 auto;
    margin-bottom: 1%;
}

.spaceOut{
    margin-bottom: 1.5%;
}

button{
    width: 100%;
}
